@font-face {
    font-family: "IRANSans";
    src: url("/public/fonts/iran_sans/IRANSansWeb.eot");
    src: url("../fonts/iran_sans/IRANSansWeb.woff") format("woff"),
    url("/public/fonts/iran_sans/IRANSansWeb.otf") format("opentype"),
    url("/public/fonts/iran_sans/IRANSansWeb.ttf") format("opentype"),
    url("/public/fonts/iran_sans/IRANSansWeb.svg#filename") format("svg");
}

html, body {
    max-width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background: rgb(130, 130, 130);
}

* {
    font-family: 'IRANSans', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}


*, *:before, *:after {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input, input:before, input:after, textarea, textarea:before, textarea:after {
    -webkit-user-select: initial;
    -khtml-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
}



*:focus {
    outline: 0;
}

.vh-25 {
    min-height: 25vh;
}

.vw-25 {
    width: 25vw;
}

.vh-50 {
    min-height: 50vh;
}

.vw-50 {
    width: 50vw;
}

.vh-75 {
    min-height: 75vh;
}

.vw-75 {
    width: 75vw;
}

.vh-100 {
    min-height: 100vh;
}

.vw-100 {
    width: 100vw;
}

.not-clickable {
    pointer-events:none;
}

.clickable {
    pointer-events:auto;
}


/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #1ab6cf;
    border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #138597;
}


@media(min-width:0px){
    /*xs*/
    .user-pic-Main {
        /*margin-top: -5px;*/
        margin-top: 0;
    }

    .dropdown {
        /*margin-top: -20pt;*/
    }

    .dropdown-content a {
        color: black;
        padding:10px;
        font-size: 14px;
        text-decoration: none;
        display: block;
    }

    #main_router_view {
        height: 91vh;
    }

    #navBar {
        height: 9vh;
    }
}
@media(min-width:576px){
    /*sm*/

}
@media(min-width:768px){
    /*md*/
    .user-pic-Main {
        margin-top: 0;
    }

    .dropdown-content a {
        font-size: 12px;
    }

    #main_router_view {
        height: 94vh;
    }

    #navBar {
        height: 6vh;
    }
}
@media(min-width:992px){
    /*lg*/
    .img-user-pic-sign-up {
        margin-top: -175pt
    }
}
@media(min-width:1200px){
    /*xl*/
}

.bg {
    /*background: url("../assets/bg.jpg") repeat 50% 50%;*/
    background: rgb(218, 218, 218);
}


.dropBtn {
    background-color: transparent;
    color: white;
    padding: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content {
    margin-right: 30px;
    right: 0;
    /*display: none;*/
    position: absolute;
    background-color: #f9f9f9;
    min-width: 230px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

a:hover {
    cursor: pointer;
}

.dropdown-content a:hover {
    cursor: pointer;
}

.bar {
    width: 3px;
    height: 3px;
    background-color: #333;
    margin: 3px 0;
    transition: 0.4s;
}



@media (hover: hover) {
    .dropdown:hover .dropdown-content {
        /*display: block;*/
    }

    .dropdown-content a:hover {
        background-color: #f1f1f1
    }

    .dropBtn:hover {
        /*background-color: #a8a8a8;*/
    }
}



.like-pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}






.fade-enter-active {
    transition: opacity .5s;
}
.fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
    opacity: 0;
}




.slide-fade-enter-active {
    transition: all .3s frames(4);
}
.slide-fade-leave-active {
    transition: all .3s;
}
.slide-fade-enter, .slide-fade-leave-to
    /* .slide-fade-leave-active for <2.1.8 */ {
    transform: translateX(500px);
    opacity: 0;
}




.flip-enter-active {
    transition: all .2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
.flip-leave-active {
    transition: all .25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.flip-enter, .flip-leave-to {
    transform: scaleY(0) translateZ(0);
    opacity: 0;
}