@font-face {
    font-family: "IRANSans";
    src: url("/public/fonts/iran_sans/IRANSansWeb.eot");
    src: url("../fonts/iran_sans/IRANSansWeb.woff") format("woff"),
    url("/public/fonts/iran_sans/IRANSansWeb.otf") format("opentype"),
    url("/public/fonts/iran_sans/IRANSansWeb.ttf") format("opentype"),
    url("/public/fonts/iran_sans/IRANSansWeb.svg#filename") format("svg");
}

html, body {
    max-width: 100%;
    height: 100%;
    overflow: hidden;
}

html {
    font-size: 12pt;
}

body {
    background: rgb(130, 130, 130);
    /*background: #17a2b8;*/
    /*"theme_color": "#4DBA87"*/
}

* {
    font-family: 'IRANSans', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}

*, *:before, *:after {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input, input:before, input:after, textarea, textarea:before, textarea:after {
    -webkit-user-select: initial;
    -khtml-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
}

*:focus {
    outline: 0;
}

.vh-25 {
    min-height: 25vh;
}

.vw-25 {
    width: 25vw;
}

.vh-50 {
    min-height: 50vh;
}

.vw-50 {
    width: 50vw;
}

.vh-75 {
    min-height: 75vh;
}

.vw-75 {
    width: 75vw;
}

.vh-100 {
    min-height: 100vh;
}

.vw-100 {
    width: 100vw;
}

.fixed-vh-100 {
    height: 100vh;
}

.not-clickable {
    pointer-events: none;
}

.clickable {
    pointer-events: auto;
}






/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #1ab6cf;
    border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #138597;
}


@media (min-width: 576px) {
    /*sm*/

}

@media (min-width: 768px) {
    /*md*/

}

@media (min-width: 992px) {
    /*lg*/
}

@media (min-width: 1200px) {
    /*xl*/
}

@media (max-width: 576px) {

    html:not(td) {
        font-size: .8rem;
    }


    h1, .h1 {
        font-size: 2.25rem;
    }
    h2, .h2 {
        font-size: 2rem;
    }
    h3, .h3 {
        font-size: 1.75rem;
    }
    h4, .h4 {
        font-size: 1.5rem;
    }
    h5, .h5 {
        font-size: 1.25rem;
    }

    table {
        direction: rtl;
    }

    table caption {
        font-size: 1.3em;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        box-shadow: 0 2px 4px 2px rgba(0,0,0,0.2);
        margin-top: 15px;
        border-bottom: 1px solid #17a2b8;
        display: block;
    }

    table td {
        display: block;
        font-size: .8em;
        text-align: left;
    }

    table td::before {
        content: attr(data-label);
        float: right;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }
}

.bg {
    /*background: url("../assets/bg.jpg") repeat 50% 50%;*/
    background: rgb(218, 218, 218);
}

a:hover {
    cursor: pointer;
}

.like-pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.fade-enter-active {
    transition: opacity .5s;
}

.fade-leave-active {
    transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
    opacity: 0;
}

.slide-fade-enter-active {
    transition: all .3s frames(4);
}

.slide-fade-leave-active {
    transition: all .3s;
}

.slide-fade-enter, .slide-fade-leave-to
    /* .slide-fade-leave-active for <2.1.8 */
{
    transform: translateX(500px);
    opacity: 0;
}

.flip-enter-active {
    transition: all .2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.flip-leave-active {
    transition: all .25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.flip-enter, .flip-leave-to {
    transform: scaleY(0) translateZ(0);
    opacity: 0;
}